
body{
    padding: 0;
    background-image: url('fonodo2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

nav {
    position: fixed;
    height: 100px;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    background: #e2e0e0e6;
    width: 100%;
}

.logo {
    background: url(img/cehfdogg.png) no-repeat 75% 75%;
    background-size: contain;
    width: 200px;
    height: 90px;
    float: left;
}
.logo img{
    height: 100%;
}
h2{
    color: azure;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 400%;
}
.menu{
    position:absolute;
    right: 70px;
}
.contenedor{
    width: 100%;
    max-width: 10000px;
    margin:0 auto;
    box-sizing: border-box;  
}

.menu a{
    color: rgb(35, 32, 32);
    text-decoration: none;
    font-weight: 700;
    margin-left: 20px;
    transition: color 0.3s;
    font-family: 'Amatic SC', cursive;
    font-size: 230%;
}

.menu a:hover{
    color: hsl(25, 79%, 65%);
}
footer{
    background-color: rgb(195, 191, 191);
    text-align: center;
    font-size: 30px;
    width: 100%;
    font-family: 'Amatic SC', cursive;
    box-sizing: border-box;
}





/* ESTILOS PARA EL MENU DESPLEGABLE */
.btn {
    display: none;
    position: absolute;
    right: 20px;
}
.btn:hover > span {
    background-color: #e99f6e;
}
.btn span {
    display: block;
    margin: 6px;
    width: 40px;
    height: 3px;
    background: rgb(29, 27, 27);
}
/* ESTILOS DE LA PAGINA EN GENERAL */
p {
    font-family: 'Amatic SC', cursive;
    padding: 5px 20px 20px 20px;
    font-size: 30px;
    text-align: center;
}

@media only screen and (max-width: 550px){
    nav {
        overflow: visible;
    }
    .menu {
        width: 100%;
        right: 0;
        top: 80px;
        background: #eab2b2e6;
        overflow: hidden;
        max-height: 0;
    }
    .menu a{
        display: block;
        text-align: center;
        padding: 10px;
        margin: 0;
    }
    .btn {
        display: block;
        cursor: pointer;
    }
    .show {
        max-height: 200px;
    }
    footer{
        background-color: rgb(195, 191, 191);
        text-align: center;
        font-size: 30px;
        padding: 0;
        width: 100%;
        font-family: 'Amatic SC', cursive;
    }
    .contenedor{
        margin: 0;
        padding: 0;
    }
}